<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Personalized gifts are perfect for any gifting occasion. At giftklavenue.com, you can personalize any of our gifts to give a present with a unique touch. Browse through our array of unique personalized gift ideas. Our specialty is based on corporate-themed personalized and celebration-themed.</p>
                <a href="services" class="btn btn-default btn-xl">SEE OUR SERVICES</a>
            </div>
        </div>
    </div>
</section>
